<beans>
    <bean id="rateLimiter" class="com.david.pattern.creational.factory.di.RateLimiter">
        <constructor-arg ref="redisCounter"/>
    </bean>

    <bean id="redisCounter" class="com.david.pattern.creational.factory.di.RedisCounter" scope="singleton" lazy-init="false">
        <constructor-arg type="String" value="127.0.0.1" />
        <constructor-arg type="String" value="1234" />
    </bean>
</beans>